/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2020, 6:38:10 PM
    Author     : ep
*/
* {
    font-family: courier new;
    background-color: #005B9A;
    color: black;
}

ul {
    text-align: center;
}

li {
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid aquamarine;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}