/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2020, 1:49:47 PM
    Author     : ep
*/


* {
    font-family: courier new;
    background-color: #005B9A;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main {
    width: 75%;
    text-algn: center;
    margin-left: 40px;
}

.item {
    text-align: center;
    display: inline-flex;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;  
    margin-bottom: 25px;
    margin-right: 20px;  
    width: 25%;
    float: left;
    border: 2px solid aquamarine;
    border-radius: 4px;
}

#cart {
    position: absolute;
    top: 0;
    right: 0;
    background-color: aquamarine;
    width:25%;
    border: 2px solid aquamarine;
    
}

button {
    background-color: #8C8984;
    color: black;
    width: 35%;
    margin-left: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 35%;
}

img {
    margin-top: 30px;
    border: 3px solid aquamarine;
    border-radius: 8px;
}